body {
    color: brown;
    background-color: #242f44;
    font-family: Arial;
    font-size: 25px;
    font-weight: 500;
    
}

header {
    text-align: center;
    background-color: white;
    padding-top: 8px;
    margin-top: 2px;
}


table {
    text-align: center;
    border: 3px solid blueviolet;
    margin: auto auto;
    
    
    
}

h1 {
    font-size: 50px;
    padding: 18px;
    color: #8c6b48;
    
  }

 thead {
    text-transform: uppercase;
    border: 2px solid lightsalmon;
    
 }

 tbody {
    
 }

 td{
    border: 1px solid yellowgreen;
 }

 #color {
    border: none;
 }
